<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }} - SCA</title>
    {% else %}
    <title>Welcome to Sound Cloud Analytics</title>
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Tracks</a></li>
          <li role="presentation"><a href="#">Albums</a></li>
          <li role="presentation"><a href="#">Artists</a></li>
        </ul>
      </div>
      <div id="content" class="row top-buffer"></div>
      {% block content %}
      {% endblock %}
    </div>
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/JSXTransformer.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react-dom/react-dom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>
  </body>

</html>
