backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
certifi==14.5.14
chardet==2.0.1
Codeville==0.8.0
docutils==0.12
Flask==0.10.1
Flask-OAuth==0.12
fudge==1.0.3
geopy==1.9.0
git-review==1.24
httplib2==0.9
ipython==2.4.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
numpydoc==0.5
oauth2==1.5.211
oauthlib==0.7.2
pymongo==2.8
requests==2.4.3
requests-oauthlib==0.4.1
selenium==2.47.1
simplejson==3.6.3
six==1.7.3
soundcloud==0.4.1
tweepy==3.2.0
urllib3==1.8.2
virtualenv==12.0.6
Werkzeug==0.10
xmltodict==0.9.2
